body{
    margin: 0;
    padding: 0;
    font-family: Poppina;
}
.Parallax{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.par{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
a{
    margin:15px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

}
a:hover{
    
}
.story-area, .CoBranding-area, .Events-area, .news-area, .activities-area{
    
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}
.story-area{
    background: olivedrab;
}
.CoBranding-area{
    background: palegreen;
}
.Events-area{
    background: peru;
}
.news-area{
    background: plum;
}
.activities-area{
    background: purple;
}
html{
    scroll-behavior: smooth;
}