* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .html,
 .body {
    font-family: 'catemaran', sans-serif;
    height: 100vh;
    background: #ebeef1;
    justify-content: center;
    align-items: center;
  }

  .checkout-panel {
    
    width: 60vw;
    height: 110vh;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
  .panel-body {
    padding: 45px 80px 0;
  }

   
  .title {
      position: relative;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }

  h4{
    padding:10px;
    color: #555;
  }

   

  textarea{
    font-size: 16px;
    display: inline;
    margin-top: 10px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
    resize: none;
  }
   
  input:focus {
    border-color: rgb(119, 219, 119);
  }


  .personal input,.address input,.payment input {
    display: inline;
    width: 350px;
    margin-left:20px;
    font-size: 16px;
    height: 50px;
    display: inline;
    margin-top: 10px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
  }

  .btn {
    text-decoration: none;
    font-size: 16px;
    margin-top:100px;
    margin-right:50px;
    padding: 15px 60px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
  }
   
  .back-btn {
    color: #f62f5e;
    border: solid 1px #f62f5e;
    background: #fff;
  }
   
  .next-btn {
    color: #fff;
    background: #f62f5e;
  }

  .back-btn:hover {
    box-shadow: 0 0 16px 1px #f62f5e;
  }
   
  .next-btn:hover {
    box-shadow: 0 0 16px 1px #f62f5e;
  }

  .btn:focus{
    outline: none;
  }
   
   

