:root{
    --primary-color:#333;
    --secondary-color:#ddd;
    --overlay-color:rgba(0,0,0,0.7);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Catamaran',sans-serif;
    line-height: 1.6;
    color: #000;
    font-size: 1.1rem;
}

h1,h2,h3,h4{
    line-height: 1.3;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar{
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.logo{
    font-size: 2rem;
    color: var(--primary-color);
}

.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav a{
    padding: 0 1rem;
}

.navbar .nav a:hover{
 color: #777;
}

.section-a{
    margin: 2rem 0;
}

.section-a .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}









.contact-form{
    width: 65%;
    max-width: 450px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px ;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;
}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;
    color: white;
    background: black;;
}

.textb{
    border:1px solid black ;
    margin:8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.textb label{
    display: block;
    text-align: left;
    color:white;
    text-transform: uppercase;
    font-size: 14px;
}
.textb input,.textb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    color: white;
}
.btn{
    display: block;
    background: #0088ae;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}
