*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:;
    width: 100vw;
    height:100vh; 
}
.contact-form{
    width: 65%;
    max-width: 450px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px ;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;
}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;
    color: white;
    background: black;;
}

.textb{
    border:1px solid black ;
    margin:8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.textb label{
    display: block;
    text-align: left;
    color:white;
    text-transform: uppercase;
    font-size: 14px;
}
.textb input,.textb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    color: white;
}
.btn{
    display: block;
    background: #0088ae;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}
/* Navigation */


 header li,a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content:flex-end;
    align-items: right;
    padding: 10px 5px;
    background-color: rgba(45,45,45,0.98);
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display:inline;
    align-items: center;
    padding: 3px 10px;
    margin-right:20px;
}

.nav__links li a{
    transition: all 0,3s ease 0s;
}

.nav__links li a:hover{
    color:#ccc;
}