:root{
    --primary-color:#111;
    --secondary-color:#222;
    --overlay-color:rgba(0,0,0,0.7);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Catamaran',sans-serif;
    line-height: 1.6;
    color: #000;
    background: #ebeef1;
    font-size: 1.1rem;
}

h1,h2,h3,h4{
    line-height: 1.3;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    animation: FadeIn 2s;
}

.section-a{
    padding: 2rem 0;
}

.section-a .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20rem;
    align-items: center;
    justify-content: center;
}

.section-a h1{
    animation: FadeIn 2s;
    font-size: 4rem;
    color: var(--primary-color);
}

.section-a p{
    margin: 1rem;
    animation: FadeIn 2s;
}

.btn1{
    animation: FadeIn 2s;
    display: inline-block;
    color: #000;
    padding: 0.4rem 0.8rem;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1.1rem;
    transition:0.5s;
}

.btn1:hover{
    box-shadow:inset 110px 0 0 0 #000;
    color: #fff;

}

.btn2{
    animation: FadeIn 2s;
    display: inline-block;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border: 1px solid #fff;
    background:#111;
    cursor: pointer;
    font-size: 1.1rem;
    transition:0.5s;
}

.btn2:hover{
    box-shadow:inset 110px 0 0 0 #fff;
    color: #000;


}

.section-b{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-b video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.section-c{
    margin-top:2px;
    background: #111;
  padding: 2rem 0;
}

.section-c .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10rem;
    align-items: center;
    justify-content: center;
}

.section-c h1{
    font-size: 4rem;
    color: #fff;
}

.section-c p{
    margin: 1rem;
    color: #fff;
}
.section-footer {
    background: #fff;
    color: #000;
    padding: 3rem 0;
  }
  
  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
  
  .section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .section-footer h3 {
    margin-bottom: 0.7rem;
  }
  
  .section-footer a {
    line-height: 1.9;
    color: #000;
  }
  
  .section-footer a > i {
    color: #000;
    margin-right: 0.5rem;
  }

  .section-footer .container a .fa-facebook{
    color: #5178d9;
}

.section-footer .container a .fa-twitter{
   color: #41caf6;
}
.section-footer .container a .fa-google-plus{
   color: #fb4f4f;
}

  @keyframes FadeIn{
      from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }




  .Parallax{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #111;
    width: 100%;
    height: 40px;
    z-index: 1;
}
.par{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 20px;
}

.par li a{
    padding:5px 20px;
    margin:50px;
    color: #999;
}

.par li a:hover{
    color: #eee;
}

.story-area, .Events-area, .activities-area{
    
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
}
.story-area{
    background: #000;
    color:#fff;
}

.Events-area{
    background: #555;
}
.activities-area{
    background: #333;
}


.story-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2px;
}


.story-box{
    position: relative;
    width: 33vw;
    height: 100vh;
    background: #000;
    color:#000;
    align-items: center;
    justify-content: center;
}
.story-box h2{
    position: absolute;
top:40%;
left:25%;
    font-size: 2rem;
}

.story-box:hover{
    background: #333;
    color: #fff;
    transition:0.5s;
}

/*details*/

.item-container{
    width: 98.9vw;
    background: #fff;
}

.item-container .item-holder{
    width:90vw;
    height:40vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}

.item-card{
    background:#fff;
    width:20vw;
    margin-left:350px;
    margin-top:20px;
    margin-bottom:40px;
    border: solid 1px #ddd;
}

.item-card img{
    width:150px;
    height:300px;
    margin-left:50px;
    margin-top:30px;
}

.item-details{
    padding:30px;
    width:40vh;
    margin-top:20px;
    margin-bottom:20px;
}

.item-details h3{
    font-size: 1.8rem;
}
.item-details ul{
    padding:20px;
}

.item-details li{
    padding: 5px;
}

.btn-cart{
    position: relative;
    margin-left: 30px;
    padding: 5px 15px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    background: #f62f5e;
    color: #fff;
    font-weight: 600;
    border: 1px solid #f62f5e;
    font-size: 12px;
    overflow: hidden;
    transition: 0.2s;
}

.btn-cart:hover{
    color: #fff;
    background: #000;
    box-shadow: 0 0 5px #f62f5e, 0 0 5px #f62f5e, 0 0 5px #f62f5e;
    transition-delay: 0.2s;

}

.item-description{
    margin: 10px 15rem;
    padding: 20px 5rem;  
}





/* form */

.contact-us{
    width: 400px;
    background: #fff;
    padding: 50px;
    margin: 100px auto;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
    border-radius: 30px;
    position: relative;
}

.title{
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form ,.form-items{
    width:100%;
}

.form-items .input{
    width: 100%;
    margin-bottom: 12px;
    padding:15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0;
    outline: none;
    border-radius:30px;
}

.form-items .input.message{
    height: 125px;
    border-radius:15px;
    margin-bottom:20px;
    padding: 15px;
    resize: none;
}

.btn input{
    background:#000;
    width: 100%;
    padding: 12px;
    color:#fff;
    text-align: center;
    font-size: 18px;
    border:0;
   outline: none;
   border-radius: 25px;
   cursor: pointer;
   position: relative;
}

.btn .fas{
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(25px,3px);
    color: #fff;
    margin-left:10px;
    font-size: 14px;
}

 .form-items{
     position: relative;
 }
 
 .form-items .fas{
     position: absolute;
     top: 15px;
     left: 15px;
     color: #999;
 }

 .social-icons{
     position: absolute;
     bottom: -25px;
     left: 50%;
     transform: translateX(-50%);
     width: 200px;
     display: flex;
     justify-content: space-around;

 }

 .social-icons div{
     width:50px;
     height:50px;
     border-radius: 50%;
     position: relative;
     cursor: pointer;
 }

 .social-icons div .fab{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     color: #fff;
 }

 .social-icons div.facebook{
     background: #5178d9;
 }

 .social-icons div.twitter{
    background: #41caf6;
}
.social-icons div.google{
    background: #fb4f4f;
}

